* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    ul {
        list-style: none;
    }
    
    body * {
        font-family: 'EB+Garamond', serif;
        line-height: 120%;
    }
    
    body {
        background-image: url();
        background-position: top center;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-color: white;
    
    }
    
    header {
        padding-top: 10px;
        font-size: 20px;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border-width: 1px;
        border-top: 1px solid rgb(150, 189, 212);
      color: rgb(150, 189, 212);
      }
    
    .title {
        color: black;
        text-align: center;
        letter-spacing: 6px;
        text-shadow: 2px 2px 20px rgba(0,0,0,0.1);
        word-spacing: 4px;
    }

    .menu {
        text-align: center;
    }

    .myButton {
        text-align: center;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background-color:transparent;
        border-radius:6px;
        border:1px solid #ffffff;
        color:goldenrod;
        font-size:17px;
        letter-spacing: 2px;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #dfdfdf;
    }
    .myButton:hover {
        background-color:transparent;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
        
    
    main {
        max-width: 64%;
        width: 64%;
        margin: auto;
        display: grid;
        gap: 24px;
        margin-top: 32px;
        padding-bottom: 100px;
        text-align: center;
    }
    
    section {
        color: black;
    }
    
    section div {
        background-color: #2a2634;
        padding: 32px;
        padding-top: 24px;
        border-radius: 16px;
    
    }
    
    section h2 {
        letter-spacing: -0.47px;
    }
    
    section p {
        letter-spacing: -0.18px;
        color: #a1a1aa;
    }
    
    section ul {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 24px;
        align-items: center;
        justify-content: center;
    }
    
    .games_list img {
        border-radius: 16px;
        width: 117px;
        align-items: center;
        justify-content: center;
    
    }
    
    .channels img {
        border-radius: 50%;
        width: 70px;
        align-items: center;
        justify-content: center;
    }

    #photos {
        /* Prevent vertical gaps */
        line-height: 48px;
         
        -webkit-column-count: 3;
        -webkit-column-gap:   16px;
        -moz-column-count:    3;
        -moz-column-gap:      16px;
        column-count:         3;
        column-gap:           16px;  
      }
      
      #photos img {
        /* Just in case there are inline attributes */
        width: 100% !important;
        height: auto !important;
        border-radius: 1%;
        -webkit-box-shadow: 5px 5px 33px -13px rgba(0,0,0,0.52); 
        box-shadow: 5px 5px 33px -13px rgba(0,0,0,0.52);
         }

        /* Photo Flashing */
            .imgshine figure:hover img {
                opacity: 1;
                -webkit-animation: flash 1.5s;
                animation: flash 1.5s;
                cursor: no-drop;
                }
                @-webkit-keyframes flash {
                0% {
                    opacity: .4;
                }
                100% {
                    opacity: 1;
                }
                }
                @keyframes flash {
                0% {
                    opacity: .4;
                }
                100% {
                    opacity: 1;
                }
                }

                img {
                    pointer-events: none;
                }

        .contatobase {
        padding-top: 10px;
        font-size:17px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }